a:link{
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

span a::after{
    content: '';
    position: absolute;
    background-color: #E80F88;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
   
}
a:hover{
    color: #E80F88;
}
a:hover::after{
    width: 100%;
}
a button{
    border: 1px solid black;
    font-size:17px;
    text-decoration: none;
    background-color: white;
    height: 40px;
}
a button:hover{
     background-color: #E80F80;
}
fieldset{
    background-color: #EAF6F6;
    border: 1px solid #EAF6F6;
    
}
#dsaimg{
    margin-left: 900px;
    margin-top: -800px;
}
div {

    margin-left: 9%;
    margin-right: 5%;
}
h1{
    color: #164863;
    font-size: 38px;
}
p{
    font-size: 20px;
}
h3{
    font-size:24px;
}
#dsa{
    border: 1px solid #F6F4EB;
    background-color: #F6F4EB;
}